
<!-- home section start here  -->
<section class="home" id="home">
    <div class="homeContent">
        <h2>Endulza tu día en nuestra pastelería </h2>
        <p>Deléitate con el dulce arte de la tentación en cada bocado. En nuestra pastelería, creamos sueños, un pastel a la vez.
            recusandae?</p>
        <div class="home-btn">
            <a href="#"><button>ver mas</button></a>
        </div>
    </div>
</section>

<!-- home section end here  -->


<!-- product section end here  -->

<!-- blogs section start here  -->
<section class="blogs" id="blogs">

    <div class=" swiper blogs-row">
        <div class="swiper-wrapper">
            <div class=" swiper-slide box">
                <div class="img">
                    <img src="/assets/cakes/Pastel Tiramisu.png" alt="">
                </div>
                <div class="content">
                    <h3>Pastel Tiramisu</h3>
                    <p>Ingredientes
                        - Para las crepas: 2 tazas de harina 4 huevos 4 cucharadas de café instantáneo 1/2 tazas de azúcar mascabado 2 cucharadas de licor de café 1 1/2 tazas de leche entera
                        
                        - Para la cubierta: 4 tazas de queso mascarpone 1 taza de azúcar glass 1 cucharadita de vainilla líquida 1/4 tazas de cocoa</p>
                    <p>Preparación
                        Para las crepas, mezcla en un bowl la harina con el huevo, el café, el azúcar mascabado, el licor de café y la leche hasta tener una mezcla homogénea.
                        En una sartén de teflón a fuego medio, vierte un cucharón de la mezcla de crepas y extiende. Cocina cada lado hasta que estén cocidas.
                        Para la crema, bate el queso mascarpone con el azúcar glass y la esencia de vainilla.
                        Para el armado, coloca una crepa sobre una charola y unta un poco de crema. Repite el proceso hasta terminar las crepas.
                        Cubre el pastel con la crema de mascarpone y refrigera por 1 hora.
                        Espolvorea con cocoa y… ¡listo!</p>
                    <a href="#blogs" class="btn">Aprender Mas...</a>
                </div>
            </div>
            <div class=" swiper-slide box">
                <div class="img">
                    <img src="/assets/cakes/Borracho.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Pastel Borracho </h3>
                    <p>Ingredientes:

Para el pastel:

2 tazas de harina de trigo
2 cucharaditas de levadura en polvo
1/2 cucharadita de sal
4 huevos
1 taza de azúcar
1/2 taza de mantequilla derretida
1/2 taza de leche
1/4 de taza de licor (como ron, brandy o coñac)
1 cucharadita de extracto de vainilla
Para el jarabe de licor:

1 taza de agua
1 taza de azúcar
1/2 taza de licor (el mismo que se usará en la masa)</p>
                    <a href="#blogs" class="btn">learn more</a>
                </div>
            </div>
            <div class=" swiper-slide box">
                <div class="img">
                    <img src="/assets/cakes/Tartadequeso.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Tarta de Queso</h3>
                    <p>Ingredientes:

Para la base:

200 gramos de galletas (por ejemplo, galletas tipo digestive)
100 gramos de mantequilla derretida
Para el relleno:

500 gramos de queso crema (como Philadelphia)
200 gramos de azúcar
3 huevos
1 cucharadita de extracto de vainilla
1 cucharada de jugo de limón
200 ml de crema agria o nata agria</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam ab ullam reiciendis sint
                        eaque at.</p>
                    <a href="#blogs" class="btn">learn more</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>


    </div>
</section>

<!-- blogs section ends here  -->

<!-- newsletter section start here  -->

<section class="newsletter">
    <form action="">
        <h3>Suscríbete para recibir la última actualización</h3>
        <input type="email" name="" placeholder="enter your email" id="" class="box">
        <input type="button" value="Suscribir" class="box2">
    </form>
</section>
<!-- newsletter section ends here  -->

<!-- review section start here  -->
<section class="review" id="review">
    <div class="heading">
        <h2>client review</h2>
    </div>


    <div class=" swiper review-row">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <div class="client-review">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, perferendis architecto
                        quasi eveniet aliquam sed?</p>
                </div>
                <div class="client-info">
                    <div class="img">
                        <img src="/assets/cakes/client1.jpg" alt="">
                    </div>
                    <div class="clientDetailed">
                        <h3>Hardy Devid</h3>
                        <p>UI / UX designer</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide box">
                <div class="client-review">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, perferendis architecto
                        quasi eveniet aliquam sed?</p>
                </div>
                <div class="client-info">
                    <div class="img">
                        <img src="/assets/cakes/client1.jpg" alt="">
                    </div>
                    <div class="clientDetailed">
                        <h3>Hardy Devid</h3>
                        <p>UI / UX designer</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide box">
                <div class="client-review">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, perferendis architecto
                        quasi eveniet aliquam sed?</p>
                </div>
                <div class="client-info">
                    <div class="img">
                        <img src="/assets/cakes/client1.jpg" alt="">
                    </div>
                    <div class="clientDetailed">
                        <h3>Hardy Devid</h3>
                        <p>UI / UX designer</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide box">
                <div class="client-review">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, perferendis architecto
                        quasi eveniet aliquam sed?</p>
                </div>
                <div class="client-info">
                    <div class="img">
                        <img src="/assets/cakes/client1.jpg" alt="">
                    </div>
                    <div class="clientDetailed">
                        <h3>Hardy Devid</h3>
                        <p>UI / UX designer</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>
<!-- review section ends here  -->

<!-- footer section start here  -->

<footer class="footer" id="contact">
    <div class="box-container">
        <div class="mainBox">
            <div class="content">
                <a href="#"><img src="/assets/cakes/logo.png" alt=""></a>
                <h1 class="logoName"> Sweet Cake </h1>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta accusamus maxime quod.</p>

        </div>
        <div class="box">
            <h3>Quick link</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i>Home</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>product</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>blogs</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>review</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>contact</a>

        </div>
        <div class="box">
            <h3>Extra link</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i>Account info</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>order item</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>privacy policy</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>payment method</a>
            <a href="#"> <i class="fas fa-arrow-right"></i>our  services</a>
        </div>
        <div class="box">
            <h3>Contact Info</h3>
            <a href="#"> <i class="fas fa-phone"></i>+502 5490-6047</a>
            <a href="#"> <i class="fas fa-envelope"></i>dalquijayg@miumg.edu.gt</a>

        </div>

    </div>
    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>
    <div class="credit">
        created by <span>Mr.Danny Designer </span> |all rights reserved ! 
    </div>
</footer>