<div>
    <div class="row justify-content-center titulo-pagina">
        <h1 class="col-auto fs-2 fw-bold my-5">Productos</h1>
    </div>


    <div class="row">
        <form class="row form" [formGroup]="formGroup" (ngSubmit)="registrar()" novalidate>
            <input type="hidden" formControlName="Id">

            <div class="col-4 form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Descripción del producto</mat-label>
                    <input matInput formControlName="Descripcion" required>
                    <mat-error class="form-error-container" *ngIf="formGroup.get('Descripcion')?.errors &&
                        (formGroup.get('Descripcion')?.dirty || formGroup.get('Descripcion')?.touched)">
                        <ul>
                            <li *ngIf="formGroup.get('Descripcion')?.errors">Campo requerido</li>
                        </ul>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-2 form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Costo del producto</mat-label>
                    <input matInput formControlName="Costo" required>
                    <mat-error class="form-error-container" *ngIf="formGroup.get('Costo')?.errors &&
                        (formGroup.get('Costo')?.dirty || formGroup.get('Costo')?.touched)">
                        <ul>
                            <li *ngIf="formGroup.get('Costo')?.errors">Campo requerido</li>
                        </ul>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-4 form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Proveedor del producto</mat-label>
                    <mat-select formControlName="IdProveedor" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of optionsProveedores"  value="{{ option.id }}">{{ option.NombreProveedor }}</mat-option>
                    </mat-select>
                    <mat-error class="form-error-container" *ngIf="formGroup.get('IdProveedor')?.errors &&
                        (formGroup.get('IdProveedor')?.dirty || formGroup.get('IdProveedor')?.touched)">
                        <ul>
                            <li *ngIf="formGroup.get('IdProveedor')?.errors">Campo requerido</li>
                        </ul>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-2 form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Salvar</button>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Descripción</th>
                            <th>Costo</th>
                            <th>Proveedor</th>
                            <th>Existencia</th>
                            <th class="col-2">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let item of productosLst" class="text-left">
                            <td class="fs-6">{{ item.Descripcion }}</td>
                            <td class="fs-6">{{ item.Costo }}</td>
                            <td class="fs-6">{{ item.Proveedor }}</td>
                            <td class="fs-6">{{ item.Existencia }}</td>
                            <td class="col-2">
                                <div class="opciones">
                                    <fa-icon [icon]="faEdit" class="fs-3 text-info" title="Editar producto" (click)="modoEdicion(item)"></fa-icon>
                                    <fa-icon [icon]="faTrash" class="fs-3 text-danger" title="Eliminar producto" (click)="eliminar(item.Id)"></fa-icon>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
