/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table .opciones fa-icon {
    padding: 0 .5rem;
    cursor: pointer;
}

.form {
    padding: 0;
    margin: 0;
}

.form-group mat-form-field {
    width: 100%;
}

.form-group button {
    height: 3.5rem;
}