<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/home">Menú Principal</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" routerLink="/home"><fa-icon [icon]="faHome"></fa-icon>Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/catalogo"><fa-icon [icon]="faCakeCandles"></fa-icon> Catalogo</a>
				</li>

				<li class="nav-item dropdown" *ngIf="isLogged()">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><fa-icon [icon]="faCogs"></fa-icon> Administración</a>
					<ul class="dropdown-menu">
						<li> <a class="dropdown-item" routerLink="/proveedores">Proveedores</a> </li>
						<li> <a class="dropdown-item" routerLink="/productos">Productos</a> </li>
						<li> <a class="dropdown-item" routerLink="/rellenos">Rellenos</a> </li>
						<li> <a class="dropdown-item" routerLink="/sabores">Sabores</a> </li>
						<li> <a class="dropdown-item" routerLink="/familia_pastel">Familia Pastel</a> </li>
						<li> <a class="dropdown-item" routerLink="/pasteles">Pasteles</a> </li>
					</ul>
				</li>

				<li class="nav-item" *ngIf="isLogged()">
					<a class="nav-link" (click)="logout()" style="cursor: pointer;"><fa-icon [icon]="faClose"></fa-icon>Cerrar sesión</a>
				</li>

				<li class="nav-item" *ngIf="!isLogged()">
					<a class="nav-link" routerLink="/login" style="cursor: pointer;"><fa-icon [icon]="faKey"></fa-icon>Iniciar sesión</a>
				</li>
			</ul>
		</div>
	</div>
</nav>